<div class="container">
  <div class="row products-page-title">
    <div class="col-md-8"> <h1>Products</h1></div>
    <div class="col-md-4"><item-modal></item-modal></div>
  </div>
  <div class="row">
    <div class="card col-md-12 card-attributes" *ngFor="let item of items">
      <div class="card-header product-title">
        {{item.item}}
      </div>
      <div class="card-body card col-md-12">
        <div class="row">
          <div class="col"><img class="center" [src]="item.image_url" width="25%">
            <input type="file" (change)="onFileSelected($event, item.id)"/>
          </div>
          <div class="col"><p class="card-text"><b>Price:</b> {{ (item.price / 100) | number:'1.2-2'}}</p></div>
        </div>

        <div class="row" style="padding-top:5px;">
          <div class="col-md-6">
            <button style="margin-right:5px;" class="btn btn-block btn-primary" (click)="editItem(item.id)">Update</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-block btn-danger" (click)="deleteItem(item.id)">Delete</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
