<div class="container">
  <div class="row">
    <div class="card col-md-12">
      <div class="card-header">
        Product Title
      </div>
      <div class="card-body card col-md-12">
        <p>Image</p>
        <p class="card-text">Product description</p>

        <div class="row">
          <div class="col-md-6"><a href="#" class="btn btn-primary col-md-12">Edit</a></div>
          <div class="col-md-6"><a href="#" class="btn btn-danger col-md-12">Delete</a></div>
        </div>

      </div>
    </div>
  </div>
</div>
