.card-attributes {
  background-color: antiquewhite;
  margin: 5px 0 5px 0;
  padding-bottom: 15px;
}

.product-title {
  color: #693D3D;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
