<div class="container">
  <div class="row orders-page-title">
    <div class="col-md-8"> <h1>Orders</h1></div>
    <div class="col-md-4"><button class="btn btn-block btn-primary" (click)="addOrder()">New Order</button></div>
  </div>
  <div class="row">
    <div class="card col-md-12 card-attributes" *ngFor="let order of orders">
      <div class="card-header product-title">
        {{order.item.item}}
      </div>
      <div class="card-body card col-md-12">
        <div class="row">
          <div class="col"><p class="card-text"><b>Price:</b> {{ (order.item.price / 100) | number:'1.2-2'}}</p></div>
        </div>
        <div class="row">
          <div *ngIf="order.delivered == true" class="col"><span style="font-weight: bold;color:green;">DELIVERED</span></div>
          <div *ngIf="order.delivered == false" class="col"><span style="font-weight: bold;color:red;">NOT DELIVERED</span></div>
        </div>
        <div class="row">
          <div *ngIf="order.payed == true" class="col"><span style="font-weight: bold;color:green;">PAYED</span></div>
          <div *ngIf="order.payed == false" class="col"><span style="font-weight: bold;color:red;">NOT PAYED</span></div>
        </div>
        <div class="row" style="padding-top:5px;">
          <div class="col-md-6">
            <button *ngIf="order.payed == false"
                    style="margin-right:5px;"
                    class="btn btn-block btn-primary"
                    (click)="payOrder(order.id)"
            >Pay Order</button>
          </div>
          <div class="col-md-6">
            <button *ngIf="order.delivered == false"
                    class="btn btn-block btn-danger"
                    (click)="deliverOrder(order.id)"
            >Deliver Order</button>
          </div>
        </div>

<!--      </div>-->

    </div>
  </div>
</div>
